.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 29rem;
  height: 4.5rem;
  margin-top: 2px;
  border-bottom: 2px solid #ccc;
}
.avtar {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 15%;
  height: 4rem;
  padding: 0.2rem;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
  height: 4rem;
}
.name {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
}
.p-name {
  font-size: 1.1rem;
}
.p-time {
  font-size: 0.8rem;
  color: #1fa855;
}
.latest {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0.8rem;
}
.message {
  font-size: 0.9rem;
  color: #667781;
}
.count {
  font-size: 0.8rem;
  background-color: #25d366;
  border-radius: 10px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-weight: bold;
}
.avtar > img{
  border: 2px solid #ccc;
  border-radius: 50%;
}