.container{
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

}

.input-container{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #f0f2f5;
  height: 2.5rem;
  width:85% ;
  border-radius: 8px;
  /* margin-left: -13rem; */
  
  
}

.input-container > img{
  height: 1.6rem;
  margin: 0 1rem;
}

.input-container >img{
  border:transparent;
  background-color:#f0f2f5;
  color: #666;
  font-size: 1.2rem;
}
.input-container >input{
  border: transparent;
  background-color: #f0f2f5;
  color: #666;
  font-size: 1.2rem;
}
.input-container > input:focus{
  outline: none;
}
.sort{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 2rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}

